img{
    height: 200px;
    width: 30%;
  }
  h1 {
    color : black;
    font-size: 60px ;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    font-size: 40px ;
    font-family: sans-serif;
    text-align: center;
    float: right;
    color: blue
  }
  body{
    background-color:purple;
    font-family: sans-serif;
    }
  .isosceles{
      float: left;
       
  }
  .equilateral{
      float: inherit;
  }
  .scalene{
    float: right;
  }